<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <table border="1" id="list-container"></table>
    <button id="more">더보기</button>
</body>
<script>
    const container = document.getElementById("list-container")
    const more = document.getElementById("more")
    let page = 0;

    getList();
    function getList() {
            fetch(`api/list?page=${page}`)
                .then((response) => response.json())
                .then((products) => {
                    let text = ``;
                    products.content.forEach(product=>{
                        text+= `<tr>
                                <td>${product.id}</td>
                                <td>${product.productName}</td>
                                <td>${product.productPrice}</td>
                                <td>${product.productStock}</td>
                            </tr>`
                    })
                    container.innerHTML += text;
                    if (products.last) {
                        more.style.display = "none";
                    }
                });

    }

    window.addEventListener("scroll",function () {
        const currentScroll = window.scrollY;
        const windowHeight = window.innerHeight;
        const bodyHeight = document.body.clientHeight;
        const paddingBottom = 200;
        if (currentScroll + windowHeight + paddingBottom >= bodyHeight) {
            page++;
            getList();
        }
    })
</script>
</html>